In [7]:
import pandas as pd

disasters = pd.read_csv("../data/disaster_chile_located.csv")
disasters.head()

,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,...,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1964,17,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,NaN,Chile,...,2000.0,NaN,2000.0,NaN,NaN,11.984281,NaN,NaN,NaN,NaN
1,1965,40,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,Chile,...,350000.0,25000.0,375000.0,NaN,10000.0,12.174253,NaN,NaN,NaN,NaN
2,1968,9008,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,Chile,...,120000.0,NaN,120000.0,NaN,55000.0,13.439657,NaN,NaN,NaN,NaN
3,1968,57,NaN,Natural,Meteorological,Storm,NaN,NaN,NaN,Chile,...,NaN,NaN,NaN,NaN,NaN,13.439657,NaN,NaN,NaN,NaN
4,1974,27,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,Chile,...,40000.0,NaN,40000.0,NaN,10000.0,19.051854,NaN,NaN,NaN,NaN

In [8]:
disasters_chile = disasters[(disasters.Country == 'Chile') & (disasters.Latitude.notnull()) & (disasters.Longitude.notnull())]
disasters_chile.shape

(104, 45)

In [9]:
def parse_lat_long(coord_string):
    components = coord_string.split()
    num = float(components[0])
    return num

In [12]:
# Apply this function to your latitude and longitude columns
disasters_chile['Latitude'] = disasters_chile['Latitude'].apply(parse_lat_long)
disasters_chile['Longitude'] = disasters_chile['Longitude'].apply(parse_lat_long)

In [14]:
import geopandas as gpd
from shapely.geometry import Point
# Create a new geometry column in your DataFrame
disasters_chile['Coordinates'] = list(zip(disasters_chile.Longitude, disasters_chile.Latitude))
disasters_chile['Coordinates'] = disasters_chile['Coordinates'].apply(Point)

gdf = gpd.GeoDataFrame(disasters_chile, geometry='Coordinates')

In [18]:
gdf.to_file('../data/distasters_parsed.geojson', driver='GeoJSON')